.coin-info ul{
    display:flex;
    justify-content:space-between;
    padding:10px 0px;
    border-bottom:3px solid #5f5d5f;
    list-style:none;
}

.coin-info ul li:last-child{
    font-weight:700;

}